[submodule "secure_deal/lib/forge-std"]
	path = secure_deal/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "secure_deal/lib/openzeppelin-contracts"]
	path = secure_deal/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
